{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "all",
	"printWidth": 70,
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
